@import "tailwindcss" source("../../src");

:root {
    font-family: "Inter Variable", monospace, system-ui;
    background-color: var(--color-stone-950);
    color: white;
    word-break: break-all;

    --color-text-hover: #f1f1f1;
}


button {
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
