@import "tailwindcss" source("../../src");
@import "@fontsource/inter";

:root {
    font-family: "Inter", system-ui;
    background-color: #121212;
    color: white;

    --color-text-hover: #f1f1f1;
}

option {
    /* color: black; */
    background-color: #121212;
}

button {
    cursor: pointer;
}
