---
import "../styles/main.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>

    <body>
        <main class="flex flex-col items-center m-24">
            <slot />
        </main>
    </body>
</html>

<script is:inline>
// Check if prefers-color-scheme is dark
const darkMode = window.matchMedia('(prefers-color-scheme: dark)');

// If dark, set body class to dark
if (darkMode.matches) {
    document.body.classList.add('dark');
}
</script>
